<h1>Genres</h1>
<%= link_to 'New Genre', new_genre_path, class: 'btn btn-primary' %>
<div class="row">
  <div class="col-lg-10">
    <table class='table table-striped'>
      <thead>
        <tr>
          <th>Title</th>
          <th colspan="">Actions</th>
        </tr>
      </thead>

      <tbody>
        <% @genres.each do |genre| %>
          <tr>
            <td><%= genre.title %></td>
            <td>
              <%= link_to 'Show', genre, class: 'btn btn-info' %>
              <%= link_to 'Edit', edit_genre_path(genre), class: 'btn btn-success' %>
              <%= link_to 'Destroy', genre, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>  
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>